html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 5.5rem;
    background-color: lightgreen;
    transition: .5s all ease-in-out;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    position :relative;
    font-family: monospace;
    text-align: center;
    font-size: 56px;
    height: 100vh;
}
.contents{
    display: inline-block;
    height: 300px;
    position : absolute;
    top : 50%;
    right: 50%;
    transform: translate(50%,55%);
}
.btns{
    color: rgb(58, 58, 58);
    background-color: whitesmoke;
    border: 1px solid gray;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    box-shadow: -1px 1px 4px 1px lightgray,1px 1px 4px 1px lightgray,1px -1px 4px 1px lightgray,-1px -1px 4px 1px lightgray;
}
#up{
    transform: translateY(-15px);
}
#left{
    transform: translateX(25px);
}
#right{
    transform: translateX(-25px);
}
.keyDisplay{
    font-size: 80px;
    transform: translate(0vw,5vh);
    display: inline-block;
    text-align: center;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 0px gray ;
    letter-spacing: 15px;
}

.arrow-element{
    text-align: center;
    text-shadow: 1px 1px brown,-1px 1px brown,1px -1px  brown,-1px -1px brown;
}

.main{
    font-family: monospace;
    font-size: 100px;
    font-weight: 400;
    color: black;
    border: 5px solid lightgreen;
    background-color: lightgreen;
    transition: all .3s ease-in-out;
}

.main:hover{
    transform: scale(1.1);
    border: 5px solid darkgreen;
    background-color: green;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

@keyframes timerSlideToLeft {
    0%{
        transform: translateX(2130%) translateY(-260%);
    }
    100%{
        transform: translateX(2130%) translateY(-55%);
    }
}
.main_heading{
    transition :  all .5s ease-in-out;
}

.timer{
    animation: timerSlideToLeft .3s ease-in-out;
    display: flex;
    transform: translateX(2130%) translateY(-60%);
    background-color: lightgray;
    line-height: 1.5;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 10px auto;
    justify-content: center;
    align-items: center;
}
.lives{
    display: inline-block;
}
.heart{
    transform: translateX(-2000%);
    height: 30px;
    width: 30px;
}
.default_lives{
    font-size: 35px;
    transform: translateX(-800%) translateY(-95%);
}
.transform-translate-y-200px {
    transform: translateY(200px);
}
/* Visibility of content */
.display-hidden{
    visibility:hidden;
}
.display-visible{
    visibility: visible;
}

.transformKeyBoardOnView{
    box-shadow:  0px 0px 10px 5px black inset;
    transition :.3s ease all;
}
/* Text-Colors */
.color-white{
    color : white;
}
.color-darkslategray{
    color: darkslategray;
}
.color-black{
    color : black;
}
.color-gray{
    color : gray;
}
/* Button Borders */
.border-retry{
    border : brown
}
.border-home{
    border : 5px solid darkred;
}
.border-start{
    border: 5px solid lightgreen;
}

.timer-boxShadow{
    box-shadow: 0px 0px 4px 3px darkgray;
}
/* Background Colors */
.bg-red{
    background-color: red;
}
.bg-color-chocolate{
    background-color: chocolate;
}
.bg-whitesmoke{
    background-color: whitesmoke;
}
.bg-lightgreen{
    background-color: lightgreen;
}
/* Font-Sizes */
.font-size-45{
    font-size: 45px;
}
.font-size{
    font-size : 70px;
}
.font-size-80{
    font-size: 80px;
}
.font-size-100{
    font-size: 100px;
}

.arrow-transition-to-gray{
    transition : 0.3s ease all;    
}